lab4/flujos/recognition.json
[{
  "id": "44041ea5.3410a",
  "type": "watson-conversation-v1",
  "z": "6ca8de41.4fb47",
  "name": "",
  "workspaceid": "",
  "multiuser": false,
  "context": true,
  "empty-payload": true,
  "default-endpoint": true,
  "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
  "x": 335,
  "y": 502.99999046325684,
  "wires": [
    ["f5b9e68d.551508"]
  ]
}, {
  "id": "be34b50f.c8bd38",
  "type": "visual-recognition-v3",
  "z": "6ca8de41.4fb47",
  "name": "",
  "apikey": "",
  "image-feature": "classifyImage",
  "lang": "es",
  "x": 575,
  "y": 102.99999046325684,
  "wires": [
    ["10dd9cb4.52a853"]
  ]
}, {
  "id": "44bbd19a.9ce06",
  "type": "telegram receiver",
  "z": "6ca8de41.4fb47",
  "name": "",
  "bot": "",
  "saveDataDir": "",
  "x": 85,
  "y": 102.99999046325684,
  "wires": [
    ["444e0197.8cd0a"],
    []
  ]
}, {
  "id": "444e0197.8cd0a",
  "type": "switch",
  "z": "6ca8de41.4fb47",
  "name": "",
  "property": "payload.type",
  "propertyType": "msg",
  "rules": [{
    "t": "eq",
    "v": "photo",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "message",
    "vt": "str"
  }],
  "checkall": "true",
  "repair": false,
  "outputs": 2,
  "x": 195,
  "y": 322.99999046325684,
  "wires": [
    ["431a744c.c5dc1c"],
    ["5cf01e55.4cef7"]
  ]
}, {
  "id": "5cf01e55.4cef7",
  "type": "function",
  "z": "6ca8de41.4fb47",
  "name": "",
  "func": "msg.payload=msg.payload.content\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 255,
  "y": 442.99999046325684,
  "wires": [
    ["44041ea5.3410a"]
  ]
}, {
  "id": "4322f858.ff9618",
  "type": "telegram sender",
  "z": "6ca8de41.4fb47",
  "name": "",
  "bot": "",
  "x": 805,
  "y": 202.99999046325684,
  "wires": [
    []
  ]
}, {
  "id": "10dd9cb4.52a853",
  "type": "function",
  "z": "6ca8de41.4fb47",
  "name": "",
  "func": "msg.payload={};\nvar clase =\"\";\nfor(var i =0; i<msg.result.images[0].classifiers[0].classes.length; i++){\n\n    clase +=\"\\n \"+msg.result.images[0].classifiers[0].classes[i].class+ \" con un score del \"+msg.result.images[0].classifiers[0].classes[i].score\n\n}\nmsg.payload.content = \"En la imagen veo: \"+clase;\nmsg.payload.type=\"message\"\nmsg.payload.chatId=msg.originalMessage.chat.id\nreturn msg;\n\n",
  "outputs": 1,
  "noerr": 0,
  "x": 615,
  "y": 202.99999046325684,
  "wires": [
    ["4322f858.ff9618"]
  ]
}, {
  "id": "73ca4d43.e799e4",
  "type": "http request",
  "z": "6ca8de41.4fb47",
  "name": "",
  "method": "GET",
  "ret": "txt",
  "url": "",
  "tls": "",
  "x": 295,
  "y": 202.99999046325684,
  "wires": [
    ["c4f167e6.0b8898"]
  ]
}, {
  "id": "431a744c.c5dc1c",
  "type": "function",
  "z": "6ca8de41.4fb47",
  "name": "Peticion Imagen",
  "func": "msg.url=\"https://api.telegram.org/<token>/getFile?file_id=\"+msg.originalMessage.photo[0].file_id\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 265,
  "y": 262.99999046325684,
  "wires": [
    ["73ca4d43.e799e4"]
  ]
}, {
  "id": "14abfc7a.755674",
  "type": "function",
  "z": "6ca8de41.4fb47",
  "name": "URL imagen",
  "func": "msg.payload=\"https://api.telegram.org/file/<token>/\"+msg.payload.result.file_path\nreturn msg;\n\n",
  "outputs": 1,
  "noerr": 0,
  "x": 373.00000762939453,
  "y": 99.9999942779541,
  "wires": [
    ["be34b50f.c8bd38"]
  ]
}, {
  "id": "c4f167e6.0b8898",
  "type": "json",
  "z": "6ca8de41.4fb47",
  "name": "",
  "property": "payload",
  "action": "",
  "pretty": false,
  "x": 335,
  "y": 142.99999046325684,
  "wires": [
    ["14abfc7a.755674", "3ca7b99d.a58926"]
  ]
}, {
  "id": "ff42ba67.851c18",
  "type": "telegram sender",
  "z": "6ca8de41.4fb47",
  "name": "",
  "bot": "",
  "x": 865,
  "y": 522.9999904632568,
  "wires": [
    []
  ]
}, {
  "id": "f5b9e68d.551508",
  "type": "function",
  "z": "6ca8de41.4fb47",
  "name": "",
  "func": "msg.payload.content=\"\";\nfor(var i=0; i< msg.payload.output.text.length ; i++)\nmsg.payload.content+=\" \\n \"+msg.payload.output.text[i];\nmsg.payload.type=\"message\"\nmsg.payload.chatId=msg.originalMessage.chat.id\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 585,
  "y": 522.9999904632568,
  "wires": [
    ["ff42ba67.851c18", "402fd0b4.97a2f"]
  ]
}, {
  "id": "6cb2933b.06a4bc",
  "type": "comment",
  "z": "6ca8de41.4fb47",
  "name": "Si envía una imagen",
  "info": "",
  "x": 275,
  "y": 62.999990463256836,
  "wires": []
}, {
  "id": "402fd0b4.97a2f",
  "type": "debug",
  "z": "6ca8de41.4fb47",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 844.0000381469727,
  "y": 614.0000171661377,
  "wires": []
}, {
  "id": "c1bcc95.5942b38",
  "type": "comment",
  "z": "6ca8de41.4fb47",
  "name": "Si envía un texto",
  "info": "",
  "x": 85,
  "y": 402.99999046325684,
  "wires": []
}, {
  "id": "3ca7b99d.a58926",
  "type": "debug",
  "z": "6ca8de41.4fb47",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 754.5243072509766,
  "y": 411.5729446411133,
  "wires": []
}]
