lab4/flujos/recognition.json
[{
  "id": "27af53c9.fa216c",
  "type": "watson-conversation-v1",
  "z": "345f63f.359899c",
  "name": "",
  "workspaceid": "ca1a7c6a-8b77-4238-9e81-c33b074f4237",
  "multiuser": false,
  "context": true,
  "empty-payload": true,
  "default-endpoint": false,
  "service-endpoint": "https://gateway-fra.watsonplatform.net/conversation/api",
  "timeout": "",
  "optout-learning": false,
  "x": 377.5,
  "y": 485,
  "wires": [
    ["381671c3.c844ee"]
  ]
}, {
  "id": "de31728c.894ee",
  "type": "switch",
  "z": "345f63f.359899c",
  "name": "",
  "property": "payload.type",
  "propertyType": "msg",
  "rules": [{
    "t": "eq",
    "v": "photo",
    "vt": "str"
  }, {
    "t": "eq",
    "v": "message",
    "vt": "str"
  }],
  "checkall": "true",
  "repair": false,
  "outputs": 2,
  "x": 237.5,
  "y": 305,
  "wires": [
    ["eaa4dfe8.51b83"],
    ["d73daf51.fd782"]
  ]
}, {
  "id": "d73daf51.fd782",
  "type": "function",
  "z": "345f63f.359899c",
  "name": "",
  "func": "msg.payload=msg.payload.content\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 297.5,
  "y": 425,
  "wires": [
    ["27af53c9.fa216c"]
  ]
}, {
  "id": "ce54aba5.2f0988",
  "type": "function",
  "z": "345f63f.359899c",
  "name": "",
  "func": "msg.payload={};\nvar clase =\"\";\nfor(var i =0; i<msg.result.images[0].classifiers[0].classes.length; i++){\n\n    clase +=\"\\n \"+msg.result.images[0].classifiers[0].classes[i].class+ \" con un score del \"+msg.result.images[0].classifiers[0].classes[i].score\n\n}\nmsg.payload.content = \"En la imagen veo: \"+clase;\nmsg.payload.type=\"message\"\nmsg.payload.chatId=msg.originalMessage.chat.id\nreturn msg;\n\n",
  "outputs": 1,
  "noerr": 0,
  "x": 657.5,
  "y": 185,
  "wires": [
    ["c0e3b6d4.df80a8"]
  ]
}, {
  "id": "eaa4dfe8.51b83",
  "type": "function",
  "z": "345f63f.359899c",
  "name": "URL imagen",
  "func": "msg.payload=msg.payload.weblink\nreturn msg;\n\n",
  "outputs": 1,
  "noerr": 0,
  "x": 415.50000762939453,
  "y": 82.00000381469727,
  "wires": [
    ["faf68d30.bfc6a", "16518730.a45849"]
  ]
}, {
  "id": "381671c3.c844ee",
  "type": "function",
  "z": "345f63f.359899c",
  "name": "",
  "func": "msg.payload.content=\"\";\nfor(var i=0; i< msg.payload.output.text.length ; i++)\nmsg.payload.content+=\" \\n \"+msg.payload.output.text[i];\nmsg.payload.type=\"message\"\nmsg.payload.chatId=msg.originalMessage.chat.id\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 627.5,
  "y": 505,
  "wires": [
    ["131ccae4.a94065", "5d4beb74.44fa24"]
  ]
}, {
  "id": "6e2ebac4.ac9234",
  "type": "comment",
  "z": "345f63f.359899c",
  "name": "Si envía una imagen",
  "info": "",
  "x": 317.5,
  "y": 45,
  "wires": []
}, {
  "id": "5d4beb74.44fa24",
  "type": "debug",
  "z": "345f63f.359899c",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 886.5000381469727,
  "y": 596.0000267028809,
  "wires": []
}, {
  "id": "c06bd65f.a97c38",
  "type": "comment",
  "z": "345f63f.359899c",
  "name": "Si envía un texto",
  "info": "",
  "x": 127.5,
  "y": 385,
  "wires": []
}, {
  "id": "390a77d5.20e9a8",
  "type": "telegram receiver",
  "z": "345f63f.359899c",
  "name": "",
  "bot": "7b49a95f.aec718",
  "saveDataDir": "",
  "x": 127.5,
  "y": 85,
  "wires": [
    ["de31728c.894ee"],
    []
  ]
}, {
  "id": "c0e3b6d4.df80a8",
  "type": "telegram sender",
  "z": "345f63f.359899c",
  "name": "",
  "bot": "7b49a95f.aec718",
  "x": 847.5,
  "y": 185,
  "wires": [
    []
  ]
}, {
  "id": "131ccae4.a94065",
  "type": "telegram sender",
  "z": "345f63f.359899c",
  "name": "",
  "bot": "7b49a95f.aec718",
  "x": 907.5,
  "y": 505,
  "wires": [
    []
  ]
}, {
  "id": "faf68d30.bfc6a",
  "type": "debug",
  "z": "345f63f.359899c",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "false",
  "x": 648,
  "y": 68,
  "wires": []
}, {
  "id": "16518730.a45849",
  "type": "visual-recognition-v3",
  "z": "345f63f.359899c",
  "name": "",
  "apikey": "2CPqc6D4OK6_ixx8mV52MV-Agf4yc1WW67AkbkijqRhE",
  "vr-service-endpoint": "https://gateway.watsonplatform.net/visual-recognition/api",
  "image-feature": "classifyImage",
  "lang": "es",
  "x": 437,
  "y": 199,
  "wires": [
    ["ce54aba5.2f0988"]
  ]
}, {
  "id": "7b49a95f.aec718",
  "type": "telegram bot",
  "z": 0,
  "botname": "cognitivebot",
  "usernames": "",
  "chatids": "",
  "baseapiurl": "",
  "pollinterval": "300"
}]
