lab3/flujos/flujo_conversation.json
[{
  "id": "a3b7270c.f7a178",
  "type": "watson-conversation-v1",
  "z": "4d69678b.537288",
  "name": "",
  "workspaceid": "",
  "multiuser": false,
  "context": true,
  "empty-payload": true,
  "default-endpoint": true,
  "service-endpoint": "https://gateway.watsonplatform.net/conversation/api",
  "x": 250,
  "y": 300,
  "wires": [
    ["882dd745.26ef58"]
  ]
}, {
  "id": "e0ea0b87.fea848",
  "type": "telegram receiver",
  "z": "4d69678b.537288",
  "name": "",
  "bot": "",
  "saveDataDir": "",
  "x": 160,
  "y": 80,
  "wires": [
    ["63fcc762.1c4148"],
    []
  ]
}, {
  "id": "63fcc762.1c4148",
  "type": "function",
  "z": "4d69678b.537288",
  "name": "",
  "func": "msg.payload=msg.payload.content\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 270,
  "y": 160,
  "wires": [
    ["a3b7270c.f7a178"]
  ]
}, {
  "id": "c38a518c.29e02",
  "type": "telegram sender",
  "z": "4d69678b.537288",
  "name": "",
  "bot": "",
  "x": 780,
  "y": 340,
  "wires": [
    []
  ]
}, {
  "id": "882dd745.26ef58",
  "type": "function",
  "z": "4d69678b.537288",
  "name": "",
  "func": "msg.payload.content=\"\";\nfor(var i=0; i< msg.payload.output.text.length ; i++)\nmsg.payload.content+=\" \\n \"+msg.payload.output.text[i];\nmsg.payload.type=\"message\"\nmsg.payload.chatId=msg.originalMessage.chat.id\nreturn msg;",
  "outputs": 1,
  "noerr": 0,
  "x": 550,
  "y": 340,
  "wires": [
    ["c38a518c.29e02", "92bedc0c.81f17"]
  ]
}, {
  "id": "92bedc0c.81f17",
  "type": "debug",
  "z": "4d69678b.537288",
  "name": "",
  "active": true,
  "tosidebar": true,
  "console": false,
  "tostatus": false,
  "complete": "true",
  "x": 790,
  "y": 480,
  "wires": []
}]
